@import "../../style/functions.scss";

.cart-list {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;

  &__empty-list {
    margin: 0 auto;
    font-weight: 700;
    font-size: desktop-vw(20);
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(291.64deg, #151cea 37.49%, #734de1 101.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    mix-blend-mode: normal;
  }
}
